/* General Styling */
body {
    font-family: 'Roboto', sans-serif; /* Modern sans-serif font */
    margin: 0;
    padding: 0;
    background-color: #f2f2f2; /* Light neutral background */
  }
  
  .container {
    width: 100%;
    position: relative;
    margin: 0 auto;
    top: 60px;
    background-color: #ffffff; /* White container background */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
  }
  
  .sign-in {
    padding: 10px 15px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff !important; 
    text-decoration: none; 
    cursor: pointer;
    transition: background-color 0.2s ease;
    display: flex; /* button's content alignment */
    align-items: center; /* Align content inside the button */
    font-size: 1rem;
    position: relative; 
    top: -9px; 
    margin-right: 10px; 
  }
  
  
  .header {
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.2); /* Semi-transparent background */
    backdrop-filter: blur(10px); /* Blur effect */
    align-items: center; /* Center items vertically */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
    padding: 0 20px; /* Padding for left and right sides */
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    height: 60px;
    margin-right: 10px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Shadow around logo */
  }
  
  .avatar {
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Shadow around avatar */
  }
  
  /* Navigation Styling */
  .nav {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav li {
    margin-right: 20px;
  }
  
  .nav a {
    text-decoration: none;
    color: #3c3c3c; /* Light gray text color for nav links */
    font-weight: bold;
    transition: color 0.2s ease;
  }
  
  .nav a:hover {
    color: #000000; /* Slightly darker  on hover */
  }
  
.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
}

.recommendation h3 {
    color: #4a90e2;
    margin-bottom: 10px;
}

.recommendation ul {
    padding-left: 0;
}

.recommendation ul li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f0f8ff;
    border-radius: 5px;
    list-style-type: none;
}
