<!DOCTYPE html>
<!-- Coding By CodingNepal - www.codingnepalweb.com -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <!-- Linking SwiperJS CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
  <link rel="stylesheet" href="/style/slider.css">
</head>
<body>
  <div class="container swiper">
    <div class="slider-wrapper">
      <div class="card-list swiper-wrapper">
        <div class="card-item swiper-slide">
            <img src="https://i.pinimg.com/236x/a6/35/97/a635970f604cb141c132f1b3184bce24.jpg" alt="User Image" class="user-image">
            <h2 class="user-name">Veeraj panchal</h2>
            <p class="user-profession">Software Developer</p>
            <a href="https://www.linkedin.com/in/veeraj-panchal-6396202a7/" class="message-button">Message</a>
          </div>
          
          <div class="card-item swiper-slide">
            <img src="https://www.shutterstock.com/image-photo/cute-boy-3d-child-eith-260nw-2448841257.jpg" alt="User Image" class="user-image">
            <h2 class="user-name">Prajesh nayak</h2>
            <p class="user-profession">UI/UX</p>
            <a href="http://www.linkedin.com/in/prajesh-nayak" class="message-button">Message</a>
          </div>
          
          <div class="card-item swiper-slide">
            <img src="https://en.pimg.jp/104/546/933/1/104546933.jpg" alt="User Image" class="user-image">
            <h2 class="user-name">Om Tiwari</h2>
            <p class="user-profession">Project Manager</p>
            <a href="https://www.linkedin.com/in/omtiwari666/" class="message-button">Message</a>
          </div>
          
          <div class="card-item swiper-slide">
            <img src="https://i.pinimg.com/236x/a6/35/97/a635970f604cb141c132f1b3184bce24.jpg" alt="User Image" class="user-image">
            <h2 class="user-name">Tikmaram Prajapati</h2>
            <p class="user-profession">Marketing Specialist</p>
            <a href="http://www.linkedin.com/in/tikmaram-prajapati-093293327" class="message-button">Message</a>
          </div>

        
      </div>

      <div class="swiper-pagination"></div>
      <div class="swiper-slide-button swiper-button-prev"></div>
      <div class="swiper-slide-button swiper-button-next"></div>
    </div>
  </div>

  <!-- Linking SwiperJS script -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

  <!-- Linking custom script -->
  <script src="/slider.js"></script>
</body>
</html>